@model IEnumerable<Movie>

@if(Model.Count()!=0)
{
        @foreach (var movie in Model)
        {
            <div class="card mb-3">
                <div class="row no-gutter">
                    <div class="col-md-3">
                        <img src="~/img/@movie.ImageUrl" alt="@movie.Description" class="card-img">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@movie.Id">  @movie.Name</a> 
                            </h5>
                            <p class="card-text">
                                @movie.ShortDescription
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }    
}
else {
    <div class="alert alert-primary">
        <span>Seçilen kategoride film bulunmamaktadır.</span>
    </div>
}