<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>ShopApp</title>
</head>
<body>
    <partial name="_navbar" />

    <div class="container pt-100 mb-5">

        @if (TempData["message"] != null)
        {
            <partial name="_resultmessage" model="@(TempData.Get<ResultMessage>("message"))" />
        }

        @RenderBody()
    </div>


    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>
