<div id="mySlider" class="carousel slide mb-3" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#mySlider" data-slide-to="0" class="active"></li>
        <li data-target="#mySlider" data-slide-to="1"></li>
        <li data-target="#mySlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slider1.png" class="d-block img-fluid" />
        </div>
        <div class="carousel-item">
            <img src="~/img/slider2.png" class="d-block img-fluid" />
        </div>
        <div class="carousel-item">
            <img src="~/img/slider3.png" class="d-block img-fluid" />
        </div>
    </div>

    <a href="#mySlider" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#mySlider" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
    </a>


</div>