<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Link Item 1</a>
    <a href="#" class="list-group-item list-group-item-action">Link Item 2</a>
    <a href="#" class="list-group-item list-group-item-action">Link Item 3</a>
    <a href="#" class="list-group-item list-group-item-action">Link Item 4</a>
    <a href="#" class="list-group-item list-group-item-action">Link Item 5</a>
</div>