@model ProductListModel

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Bilgisayar</li>
            <li class="list-group-item">Elektronik</li>
        </ul>
    </div>
    <div class="col-md-9">

        <partial name="_slider" />

        <div class="row">
            @foreach (var product in Model.Products)
            {
                <partial name="_product" for="@product" />
            }
        </div>

    </div>
</div>


